**
!pyproject.toml
!uv.lock
!README.md
!LICENSE
!LICENSE-BRAND
!alembic.ini
!waku/
!waku/**
!skills/
!skills/**
!infra/
!infra/migrations/
!infra/migrations/**
**/__pycache__/
**/*.pyc
**/.env*
**/*.pem
**/*.key
